@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;600;700&family=Roboto?&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body,
p,
span,
a {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    line-height: 19px;
}