footer#footer
    img(src="https://via.placeholder.com/80", alt="")

    a.goTop(href="#") ^

    .footer-content
        h4 Page Title here!
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
