header#header
    h3.logo CyberCity

    button.hamburger.hamburger--slider(type="button")
        span.hamburger-box
            span.hamburger-inner

    ul#menu
        li.active
            a(href="#") Home
        li
            a(href="#") Hot
        li
            a(href="#") About
        li
            a(href="#") Contact

    //- ul#social
    //-     li
    //-         a(href="#") Facebook
    //-     li
    //-         a(href="#") Twitter
    //-     li
    //-         a(href="#") Instagram
    //-     li
    //-         a(href="#") Linkedin
