.photo-grid-wrapper {
    height: 100vh;
    position: relative;
    overflow: auto;
}

.photo-grid {
    column-count: 4;
    column-gap: 0;

    &-item {
        width: 100%;
        position: relative;
        break-inside: avoid-column;
        cursor: pointer;

        .glitch {
            position: relative;
            overflow: hidden;

            .box {
                position: absolute;
                background: rgba(100, 18, 30, 0.8);
            }

            img {
                width: 100%;
            }
        }

        &-info {
            padding: 20px;
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            opacity: 0;
            visibility: hidden;
            transition: background ease-in-out 0.2s, top ease-in-out 0.3s, opacity ease-in-out 0.2s, visibility ease-in-out 0.2s;

            .main {
                flex: 1;
            }

            .sub {
                text-align: right;
            }

            h4,
            p {
                color: $white;
            }

            h4 {
                font-weight: 700;
                margin-bottom: 2px;
            }
        }

        &:hover {
            .photo-grid-item-info {
                background: rgba(100, 18, 30, 0.5);
                top: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
